@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

body { font-family: 'Source Sans Pro', 
    sans-serif;}
    
#contenedor { width: 50%; margin: auto; 
    text-align: center;}
    
#cuerpo { margin: auto; 
    width: 90%;}

h1 { color: white; 
    background-color: #04146c; 
    font-size: 38px; 
    font-weight: 400; 
    width: 80%; 
    margin: auto;}

h2 { font-size: 88px; 
    margin: auto;}

h3 { font-size: 27px; 
    font-weight: 400;}

strong { font-weight: 600;}

h2, h3, p { color: #04146c;}

img { border: 1px solid #04146c; 
    width: 600px; 
    margin-bottom: 1em;}

p { background-color: #edf7ff; 
    font-size: 24px; 
    font-weight: 400; 
    width: 80%; 
    margin: auto;}